@import "tailwindcss";

@theme{
  --default-font-family: 'poppins', sans-serif;

  --color-primary: #1A365D;       /* Headers, main buttons (trustworthy deep blue) */
  --color-primary-light: #2C5282; /* Hover states, secondary buttons */
  --color-primary-dark: #0F2743;  /* Navbars, footers */
  --color-secondary: #4A5568;     /* Icons, outlines, neutral text */
  --color-background: #F7FAFC;
  --color-white:#ffffff;
  --color-black:#000000;
  
  /* Dark mode */
  --color-darkBg:#202120;         /* Main dark background */
  --color-darkCard: #161B22;

}